In [2]:
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, recall_score
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from tqdm import tqdm
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [3]:
df = pd.read_csv('archive/audi.csv')
df = df.drop(['model', 'transmission', 'fuelType'], axis=1)
df.head()

   year  price  mileage  tax   mpg  engineSize
0  2017  12500    15735  150  55.4         1.4
1  2016  16500    36203   20  64.2         2.0
2  2016  11000    29946   30  55.4         1.4
3  2017  16800    25952  145  67.3         2.0
4  2019  17300     1998  145  49.6         1.0

In [4]:
x = df.drop(['price'], axis=1)
y = df['price']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [7]:
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier(max_depth=100, max_features=3, random_state=42)
DT.fit(x_train, y_train)
y_pred = DT.predict(x_test)
r2_score(y_test, y_pred)

0.8957738817911829

In [3]:
df1 = pd.read_csv('archive/audi.csv')
df1 = pd.concat([df1, pd.read_csv('archive/bmw.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/cclass.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/focus.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/ford.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/hyundi.csv').rename(columns={'tax(£)' : 'tax'})])
df1 = pd.concat([df1, pd.read_csv('archive/merc.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/skoda.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/toyota.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/vauxhall.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/vw.csv')])
df1.fillna(0, inplace=True)
df1 = df1.sample(n=10000)
df1

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
2562,Corsa,2015,4750,Manual,81826,Petrol,125.0,52.3,1.2
206,C Class,2017,20998,Semi-Auto,16902,Diesel,145.0,60.1,2.1
7800,A Class,2017,14124,Manual,19573,Petrol,125.0,52.3,1.6
2754,Golf,2019,29150,Semi-Auto,745,Petrol,145.0,32.8,2.0
3473,3 Series,2019,25900,Semi-Auto,8010,Petrol,145.0,45.6,2.0
...,...,...,...,...,...,...,...,...,...
8529,Mokka X,2018,11707,Manual,18205,Petrol,145.0,39.2,1.4
3345,Auris,2016,15780,Automatic,19149,Hybrid,0.0,72.4,1.8
7202,GLA Class,2018,19399,Manual,12471,Diesel,145.0,64.2,2.1
840,Yaris,2017,8298,Manual,23317,Petrol,30.0,58.0,1.3
4030,Focus,2017,9995,Manual,34040,Diesel,0.0,0.0,1.5

In [4]:
x = df1.drop(['price'], axis=1)
y = df1['price']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

estimators = {
    'DT': DecisionTreeClassifier(),
    'RF': RandomForestClassifier()
}

params = {
    'DT': {
        'max_depth': [10, 20, 30, 40, 50],
        'max_features': ['auto', 'sqrt', 'log2'],
        'min_samples_split': [2, 5, 10, 20],
        'criterion': ['gini', 'entropy']
}, 
    'RF': {
        'n_estimators': [100, 500],
        'criterion': ['gini', 'entropy'],
        'max_depth': [5, 100, 150]
}}

for name, model in estimators.items():
    m = RandomizedSearchCV(model, params[name], random_state=42)
    m.fit(x_train, y_train)
    m.predict(x_test)
    print(name, m.best_params_, m.best_score_)
    print('r2', r2_score(y_test, y_pred))