In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

In [7]:
df = pd.read_csv('archive/audi.csv')
df = df.drop(['model', 'transmission', 'fuelType'], axis=1)
df.head()

   year  price  mileage  tax   mpg  engineSize
0  2017  12500    15735  150  55.4         1.4
1  2016  16500    36203   20  64.2         2.0
2  2016  11000    29946   30  55.4         1.4
3  2017  16800    25952  145  67.3         2.0
4  2019  17300     1998  145  49.6         1.0

In [8]:
x = df.drop(['price'], axis=1)
y = df['price']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
DT = DecisionTreeClassifier(max_depth=100, max_features=3, random_state=42)
DT.fit(x_train, y_train)
y_pred = DT.predict(x_test)
r2_score(y_test, y_pred)

0.8957738817911829

In [10]:
df1 = pd.read_csv('archive/audi.csv')
df1 = pd.concat([df1, pd.read_csv('archive/bmw.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/cclass.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/focus.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/ford.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/hyundi.csv').rename(columns={'tax(£)' : 'tax'})])
df1 = pd.concat([df1, pd.read_csv('archive/merc.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/skoda.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/toyota.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/vauxhall.csv')])
df1 = pd.concat([df1, pd.read_csv('archive/vw.csv')])
df1.fillna(0, inplace=True)
df1 = df1.sample(n=10000)
df1

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
13453,Combo Life,2019,14457,Manual,1686,Petrol,145.0,42.2,1.2
1066,Focus,2019,15300,Manual,6541,Petrol,0.0,0.0,1.0
8161,Polo,2016,9401,Manual,43933,Petrol,20.0,60.1,1.2
9129,Polo,2017,11690,Manual,11482,Petrol,150.0,60.1,1.2
3067,I10,2016,6999,Manual,17641,Petrol,20.0,60.1,1.0
...,...,...,...,...,...,...,...,...,...
11976,E Class,2018,23480,Automatic,13520,Diesel,145.0,61.4,2.0
5440,Q3,2016,15441,Manual,40600,Diesel,125.0,56.5,2.0
5960,Kuga,2017,14795,Manual,42917,Diesel,125.0,60.1,2.0
9470,Mokka X,2017,10995,Manual,18987,Petrol,150.0,47.1,1.4
1541,Yaris,2019,11995,Manual,5,Petrol,145.0,47.9,1.5

In [11]:
x = df1.drop(['price'], axis=1)
y = df1['price']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [5]:
estimators = {
    'DT': DecisionTreeClassifier(),
    'RF': RandomForestClassifier()
}

params = {
    'DT': {
        'max_depth': [10, 20, 30, 40, 50],
        'max_features': [10, 100, 200],
        'min_samples_split': [2, 5, 10, 20],
        'criterion': ['gini', 'entropy']
}, 
    'RF': {
        'n_estimators': [10, 50],
        'criterion': ['gini', 'entropy'],
        'max_depth': [5, 100, 150]
}}

for name, model in estimators.items():
    m = RandomizedSearchCV(model, params[name], random_state=42)
    m.fit(x_train, y_train)
    # m.predict(x_test)
    print(name, m.best_params_, m.best_score_)
    # print('r2', r2_score(y_test, y_pred))

/Users/timofejsosnin/anaconda3/envs/classical-ml/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

DT {'min_samples_split': 2, 'max_features': 100, 'max_depth': 40, 'criterion': 'gini'} 0.023125

/Users/timofejsosnin/anaconda3/envs/classical-ml/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

RF {'n_estimators': 50, 'max_depth': 150, 'criterion': 'gini'} 0.025